/* CSS DOSYASI */

/* Boşlukları Sıfırla */
*{
    margin: 0px;
    padding: 0px;
}
#ankara{
    font-family:"Comic Sans MS", cursive, sans-serif;
}
#header{
    height: 200px;
    background-image: url(image/anitkabir.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}
#navbar{
    background-color: #fd7e14;
}
#anasayfalogo{
    font-size: 25px;
    font-weight: bold;

}
